--extra-index-url https://download.pytorch.org/whl/cu126
--find-links https://data.pyg.org/whl/torch-2.8.0+cu126.html

numpy>=2
scipy>=1.14

torch==2.8.0+cu126
torchvision==0.23.0+cu126
torchaudio==2.8.0+cu126

torch-geometric==2.7.0
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv

networkx
scikit-learn
ipykernel
ipython
jupyter_client
jupyter_core
pillow
tqdm
requests
python-dateutil
pandas
pyyaml
kagglehub
matplotlib
tabulate
